---
import type { CollectionEntry } from 'astro:content';

type ModuleHeadline = Extract<
  CollectionEntry<'pagesGeneric'>['data']['sections'][0]['modules'][0],
  { type: 'moduleHeadline' }
>;

interface Props {
  fields: ModuleHeadline;
}

const { fields } = Astro.props;
---

<div
  class="module container"
  data-module={fields.type}
  id={fields.anchor?.anchorID}
>
  <div class="grid">
    <h2 class="headline">{fields.headline}</h2>
  </div>
</div>

<style lang="scss">
  .headline {
    grid-column: span 12;
    white-space: pre-line;
  }

  @media (min-width: 1280px) {
    .headline {
      grid-column: 2 / span 10;
    }
  }
</style>
