---
import type { CollectionEntry } from 'astro:content';

type ModuleRichText = Extract<
  CollectionEntry<'pagesGeneric'>['data']['sections'][0]['modules'][0],
  { type: 'moduleRichText' }
>;

interface Props {
  fields: ModuleRichText;
}

import { marked } from 'marked';

const { fields } = Astro.props;

const parsedContent = await marked(fields.content);
---

<div
  class="module container"
  data-module={fields.type}
  id={fields.anchor?.anchorID}
>
  <div class="grid">
    <div class="richtext" set:html={parsedContent} />
  </div>
</div>

<style lang="scss">
  .richtext {
    grid-column: span 12;
    max-width: 60ch;
  }

  @media (min-width: 1280px) {
    .richtext {
      grid-column: 2 / span 10;
    }
  }
</style>
