---
interface Props {
  title: string;
  link: string;
}

const { title, link } = Astro.props;
---

<a class="button text-small-caps" href={link}>
  <span class="text">{title}</span>
  <svg class="indicator" viewBox="0 0 300 300" fill="none" aria-hidden="true">
    <path
      d="M150 0C150 0 150 86 182 118C214 150 300 150 300 150C300 150 214 150 182 182C150 214 150 300 150 300C150 300 150 214 118 182C86 150 0 150 0 150C0 150 86 150 118 118C150 86 150 0 150 0Z"
      fill="currentColor"></path>
  </svg>
</a>

<style lang="scss">
  .button {
    display: inline-flex;
    gap: 0.5em;
    align-items: center;
    padding: 0.6em 1.2em;
    line-height: 1;
    text-decoration: none;
    color: var(--c-dark);
    background-color: var(--c-light);
    border-radius: to-rem(100);
    transition: background-color 0.4s var(--ease-smooth);

    .indicator {
      flex-shrink: 0;
      width: 1.25em;
      height: 1.25em;

      path {
        transition: d 0.4s var(--ease-smooth);
      }
    }

    @include has-hover {
      &:hover {
        background-color: var(--c-primary);

        .indicator {
          path {
            d: path(
              'M150 0C150 0 150 86 182 118C214 150 300 150 300 150C300 150 214 150 182 182C150 214 150 300 150 300C150 300 134 185 174 165C184 160 0 150 0 150C0 150 184 140 174 135C134 115 150 0 150 0Z'
            );
          }
        }
      }
    }
  }
</style>
