---
interface Props {
  title: string;
  link: string;
  target?: string;
  rel?: string;
  indicatorPosition?: 'bottom' | 'left';
  size?: 'default' | 'large';
}

const { title, link, target, rel, indicatorPosition, size } = Astro.props;
---

<a
  class:list={[
    'text-small-caps',
    {
      'is-active':
        link === (Astro.url.pathname || Astro.url.pathname.replace('/', '')),
    },
    {
      'indicator-bottom': indicatorPosition === 'bottom',
      'indicator-left': indicatorPosition === 'left',
    },
    {
      'size-large': size === 'large',
    },
  ]}
  href={link}
  target={target}
  rel={rel}
>
  {title}
  <svg class="indicator" viewBox="0 0 300 300" fill="none" aria-hidden="true">
    <path
      d="M150 0C150 0 150 86 182 118C214 150 300 150 300 150C300 150 214 150 182 182C150 214 150 300 150 300C150 300 150 214 118 182C86 150 0 150 0 150C0 150 86 150 118 118C150 86 150 0 150 0Z"
      fill="currentColor"></path>
  </svg>
</a>

<style lang="scss">
  a {
    position: relative;
    text-decoration: none;
    isolation: isolate;

    @include has-hover {
      &:hover {
        .indicator {
          opacity: 1;
          scale: 0.8;
        }
      }
    }

    &.is-active {
      pointer-events: none;

      .indicator {
        opacity: 1;
        scale: 1;
      }
    }

    &.indicator-bottom {
      .indicator {
        top: calc(100% + to-rem(8));
        left: 50%;
        right: auto;
        translate: -50% 0;
      }
    }

    &.size-large {
      font-size: var(--fs-3);
      font-weight: var(--fw-semibold);

      .indicator {
        width: to-rem(24);
        height: to-rem(24);
      }
    }
  }

  .indicator {
    position: absolute;
    top: 50%;
    right: calc(100% + clamp-fluid(2, 8));
    translate: 0 -50%;
    width: to-rem(16);
    height: to-rem(16);
    pointer-events: none;
    opacity: 0;
    scale: 0.5;
    transition:
      opacity 0.4s var(--ease-smooth),
      scale 0.7s var(--ease-spring);
  }
</style>
