---
import { page404 } from '@content/globals';

import Layout from '@layouts/Layout.astro';
---

<Layout pageTitle={page404.title}>
  <main>
    <section class="section">
      <div class="module container">
        <div class="grid">
          <div class="content">
            <h1>{page404.title}</h1>
          </div>
        </div>
      </div>
    </section>
  </main>
</Layout>

<style lang="scss">
  .content {
    grid-column: span 12;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: clamp-fluid(64, 128);
  }

  @media (width >= 768px) {
    .content {
      grid-column: 2 / span 10;
    }
  }
</style>
