---
import { getCollection } from 'astro:content';

import Layout from '@layouts/Layout.astro';
import PageGeneric from '@components/layouts/PageGeneric.astro';

const [page] = await getCollection('pageHome');
---

<Layout>
  <PageGeneric page={page} />
  <div class="container">
    <h1>
      <span>JAN</span><span>KOHLBACH</span>
    </h1>
  </div>
</Layout>

<style lang="scss">
  h1 {
    font-size: to-rem(50);

    span {
      &:nth-child(1) {
        font-family: var(--ff-primary);
        font-weight: var(--fw-semibold);
        letter-spacing: -0.05em;
      }

      &:nth-child(2) {
        font-family: var(--ff-secondary);
        font-weight: var(--fw-regular);
        font-size: 1.1em;
      }
    }
  }
</style>
