---
import { getCollection } from 'astro:content';

import Layout from '@layouts/Layout.astro';
import PageGeneric from '@components/layouts/PageGeneric.astro';

const [page] = await getCollection('pageHome');
---

<Layout>
  <div class="container">
    <h1>
      <span
        style="font-family:var(--ff-primary);font-size:36px;font-weight:600;letter-spacing:-0.05em;"
        >JAN</span
      ><span style="font-family:var(--ff-secondary);font-size:40px;"
        >KOHLBACH</span
      >
    </h1>
  </div>
  <PageGeneric page={page} />
</Layout>
